In [10]:
import sqlite3
import pandas as pd



def to_csv():
    #where is the storeagefile
    db = './db/5pk.db'
    
    #connect the file/db
    conn = sqlite3.connect(db)
    c = conn.cursor()

    #befehl
    c.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = c.fetchall()
    
    for table_name in tables:
        table_name = table_name[0]
        table = pd.read_sql_query("SELECT * from %s" % table_name, conn)
        table.to_csv(table_name + '.csv', index_label='index')
    
    #close the connection
    c.close

        
        
to_csv()        
        

#Create the table
#c.execute('''CREATE TABLE books 
           # (author int, name text, book text)''')

#insert a row of data
#c.execute("INSERT INTO books VALUES (1, )")

"""

BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS `tbl_Buecher` (
	`ID`	INTEGER NOT NULL UNIQUE,
	`Name`	TEXT NOT NULL UNIQUE,
	`Author`	INTEGER NOT NULL UNIQUE,
	`Erscheinungsjahr`	INTEGER NOT NULL UNIQUE,
	PRIMARY KEY(`ID`)
);
CREATE TABLE IF NOT EXISTS `tbl_Autor` (
	`ID`	INTEGER NOT NULL UNIQUE,
	`Name`	TEXT NOT NULL UNIQUE,
	PRIMARY KEY(`ID`)
);
COMMIT;

"""

'\n\nBEGIN TRANSACTION;\nCREATE TABLE IF NOT EXISTS `tbl_Buecher` (\n\t`ID`\tINTEGER NOT NULL UNIQUE,\n\t`Name`\tTEXT NOT NULL UNIQUE,\n\t`Author`\tINTEGER NOT NULL UNIQUE,\n\t`Erscheinungsjahr`\tINTEGER NOT NULL UNIQUE,\n\tPRIMARY KEY(`ID`)\n);\nCREATE TABLE IF NOT EXISTS `tbl_Autor` (\n\t`ID`\tINTEGER NOT NULL UNIQUE,\n\t`Name`\tTEXT NOT NULL UNIQUE,\n\tPRIMARY KEY(`ID`)\n);\nCOMMIT;\n\n'