In [5]:
import sqlite3
import pandas as pd
from sqlite3 import Error



def create_connection(database):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(database)
        return conn
    except Error as e:
        print(e)
 
    return None        

def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
        param conn: Connection object
        param create_table_sql: a CREATE TABLE statement
        return:"""
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
            print(e)



def create_the_book_db():
    
    database = './db/5pk.db'
    
    sql_create_tbl_Authors = """ CREATE TABLE IF NOT EXISTS tbl_Authors (
                                    Author_ID integer Primary Key,
                                    Author_NAME text NOT NULL);"""
    
    sql_create_tbl_Books = """ CREATE TABLE IF NOT EXISTS tbl_Books (
                                    Book_ID integer Primary Key,
                                    Book_NAME text NOT NULL,
                                    Author_ID integer NOT NULL,
                                    Year integer NOT NULL,
                                    FOREIGN KEY (Author_ID) REFERENCES
                                    tbl_Authors(Author_ID));"""
    
    sql_create_tbl_Sentences = """ CREATE TABLE IF NOT EXISTS tbl_Sentences (
                                    Sentence_ID integer Primary Key,
                                    Book_ID integer NOT NULL,
                                    Sentence TEXT NOT NULL,
                                    FOREIGN KEY (Book_ID) REFERENCES
                                    tbl_Books(Book_ID));"""

    
    sql_create_ind_Authors_Author_ID = """ CREATE INDEX ind_Authors_Author_ID
                                            ON tbl_Authors(Author_ID);"""
    
    sql_create_ind_Books_Book_ID = """ CREATE INDEX ind_Books_Book_ID
                                        ON tbl_Books(Book_ID);"""
    
    sql_create_ind_Sentences_Sentence_ID = """ CREATE INDEX ind_Sentences_Sentence_ID 
                                                ON tbl_Sentences(Sentence_ID);"""
    
    # Connecting to the database file
    conn = create_connection('./db/5pk.db')

    if conn is not None:
        #create Authors table
        create_table(conn, sql_create_tbl_Authors)
        #create Books table
        create_table(conn, sql_create_tbl_Books)
        #create Sentences
        create_table(conn, sql_create_tbl_Sentences)
        
        #create the Indexes
        create_table(conn, sql_create_ind_Authors_Author_ID)
        create_table(conn, sql_create_ind_Books_Book_ID)
        create_table(conn, sql_create_ind_Sentences_Sentence_ID)
    else:
        print("ERROR! cannot create the database connection.")


        
create_the_book_db()

"""

BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS `tbl_Buecher` (
	`ID`	INTEGER NOT NULL UNIQUE,
	`Name`	TEXT NOT NULL UNIQUE,
	`Author`	INTEGER NOT NULL UNIQUE,
	`Erscheinungsjahr`	INTEGER NOT NULL UNIQUE,
	PRIMARY KEY(`ID`)
);
CREATE TABLE IF NOT EXISTS `tbl_Autor` (
	`ID`	INTEGER NOT NULL UNIQUE,
	`Name`	TEXT NOT NULL UNIQUE,
	PRIMARY KEY(`ID`)
);
COMMIT;

"""

index ind_Authors_Author_ID already exists
index ind_Sentences_Sentence_ID already exists

'\n\nBEGIN TRANSACTION;\nCREATE TABLE IF NOT EXISTS `tbl_Buecher` (\n\t`ID`\tINTEGER NOT NULL UNIQUE,\n\t`Name`\tTEXT NOT NULL UNIQUE,\n\t`Author`\tINTEGER NOT NULL UNIQUE,\n\t`Erscheinungsjahr`\tINTEGER NOT NULL UNIQUE,\n\tPRIMARY KEY(`ID`)\n);\nCREATE TABLE IF NOT EXISTS `tbl_Autor` (\n\t`ID`\tINTEGER NOT NULL UNIQUE,\n\t`Name`\tTEXT NOT NULL UNIQUE,\n\tPRIMARY KEY(`ID`)\n);\nCOMMIT;\n\n'