In [4]:
import sqlite3
import pandas as pd
from sqlite3 import Error



def create_connection(database):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(database)
        return conn
    except Error as e:
        print(e)
 
    return None 


def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
        param conn: Connection object
        param create_table_sql: a CREATE TABLE statement
        return:"""
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
            print(e)


def create_the_book_db():
    
    database = './db/5pk.db'
    
    sql_create_tbl_Authors = """ CREATE TABLE IF NOT EXISTS tbl_Authors (
                                    Author_ID integer NOT NULL Primary Key,
                                    Author_NAME text NOT NULL);"""
    
    sql_create_tbl_Books = """ CREATE TABLE IF NOT EXISTS tbl_Books (
                                    Book_ID integer NOT NULL Primary Key,
                                    Book_NAME text NOT NULL,
                                    Author_ID integer NOT NULL,
                                    Year integer NOT NULL,
                                    FOREIGN KEY (Author_ID) REFERENCES
                                    tbl_Authors(Author_ID));"""
    
    sql_create_tbl_Sentences = """ CREATE TABLE IF NOT EXISTS tbl_Sentences (
                                    Sentence_ID integer Primary Key,
                                    Book_ID integer NOT NULL,
                                    Sentence TEXT NOT NULL,
                                    FOREIGN KEY (Book_ID) REFERENCES
                                    tbl_Books(Book_ID));"""

    
    sql_create_ind_Authors_Author_ID = """ CREATE INDEX ind_Authors_Author_ID
                                            ON tbl_Authors(Author_ID);"""
    
    sql_create_ind_Books_Book_ID = """ CREATE INDEX ind_Books_Book_ID
                                        ON tbl_Books(Book_ID);"""
    
    sql_create_ind_Sentences_Sentence_ID = """ CREATE INDEX ind_Sentences_Sentence_ID 
                                                ON tbl_Sentences(Sentence_ID);"""
    
    # Connecting to the database file
    conn = create_connection('./db/5pk.db')

    if conn is not None:
        #create Authors table
        create_table(conn, sql_create_tbl_Authors)
        #create Books table
        create_table(conn, sql_create_tbl_Books)
        #create Sentences
        create_table(conn, sql_create_tbl_Sentences)
        
        #create the Indexes
        create_table(conn, sql_create_ind_Authors_Author_ID)
        create_table(conn, sql_create_ind_Books_Book_ID)
        create_table(conn, sql_create_ind_Sentences_Sentence_ID)
    else:
        print("ERROR! cannot create the database connection.")


def create_author(conn, author):
    """
    Create a new Author
    :param conn:
    :param author:
    :return: Author_ID
    """
    sql = '''INSERT INTO tbl_Authors(Author_NAME, )'''
        
def create_book(conn, book):
    """
    Create a new book into the tbl_Books
    :param conn:
    :param book:
    :return: book id
    """
    sql = '''INSERT INTO tbl_Books(Book_NAME, Author_ID, Year)
            VALUES(?,?,?) '''
    
    cur = conn.cursor()
    cur.execute(sql, book)
    
    return cur.lastrowid


def create_sentences(conn, sentence):
    """
    Create a new Sentence
    :param conn:
    :param sentence:
    :return:
    """
    sql = ''' INSERT INTO tbl_Sentences(Book_ID, Sentence)
            Values(?,?) '''
    
    cur = conn.cursor()
    cur.execute(sql, sentence)
    return cur.lastrowid
        

def delete_sentence(conn, id):
    """
    Delete a sentence by sentence id
    :param conn:
    :param sentence:
    :return:  
    """
    sql = 'DELETE FROM tbl_Sentences WHERE id=?'
    cur = conn.cursor()
    cur.execute(sql, (id,))


def delete_all_sentences(conn):
    """
    Delete all rows in the tbl_sentences table
    :param conn:
    :param sentence:
    :return:    
    """
    sql = 'DELETE FROM tbl_sentences'
    cur = conn.cursor()
    cur.execute(sql)


def delete_book(conn, id):
    """
    Delete a book by book id
    :param conn:
    :param sentence:
    :return:  
    """
    sql = 'DELETE FROM tbl_Books WHERE id=?'
    cur = conn.cursor()
    cur.execute(sql, (id,))


def delete_all_books(conn):
    """
    Delete all rows in the tbl_Books table
    :param conn:
    :param sentence:
    :return:    
    """
    sql = 'DELETE FROM tbl_Books'
    cur = conn.cursor()
    cur.execute(sql)


def delete_author(conn, id):
    """
    Delete an Author by author id
    :param conn:
    :param sentence:
    :return:  
    """
    sql = 'DELETE FROM tbl_Authors WHERE id=?'
    cur = conn.cursor()
    cur.execute(sql, (id,))


def delete_all_authors(conn):
    """
    Delete all rows in the tbl_sentences table
    :param conn:
    :param sentence:
    :return:    
    """
    sql = 'DELETE FROM tbl_Authors'
    cur = conn.cursor()
    cur.execute(sql)


def select_all_sentences(conn):
    """
    Query all rows in the tbl_Sentences table
    :param conn: the connection object
    :return: print every row
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM tbl_Sentences")
    
    rows = cur.fetchall()
    
    for row in rows:
        print(row)
        
        
def select_sentences_by_sentence_id(conn, Book_ID):
    """
    Query sentence by ID
    :param conn: the connection object
    :param Book_ID: 
    :return: print every row
    """
    
    cur = conn.cursor()
    cur.execute("SELCET * FROM tbl_Sentences WHERE Book_ID=?", (Book_ID,))
    
    rows = cur.fetchall()
    
    for row in rows:
        print(row)
    
    
def fill_the_db(author, bookname, year, ):
    #database file
    database = './db/5pk.db'    
    
    #create a database connection
    conn = create_connection(database)
    
    with conn:
        #create a new book
        book = (bookname, 1, year)
        book_id = create_book(conn, book)
        
        #create the sentences
        sentence = (book_id, 'blablablabl ablblblblb lblb lbalbalbalbalbalba')
        
        create_sentences(conn, sentence)        


def fill_the_sentence_into_the_db(conn, Book_ID, Sentence):
    """
    put every given Sentence into the tbl_Sentences
    :param conn: the connection object
    :param Book_ID:
    :return last_row_id: dont sure if this needed
    """
    
    cur = conn.cursor()
    cur.execute()

def fill_the_db_with_books(list_of_books, author):
    database = './db/5pk.db'    
    conn = create_connection(database)

    #insert list of booknames
    #...

    #author = 1
    #year = 2000
    
    #for i in book_names_list:
    #book = (i, author, year)
    #create_book(conn, book)
    
    #INSERT INTO tbl_Books(Book_NAME, Author_ID, Year)


#create the book DB in the beginning, only once
#create_the_book_db()

OperationalError: no such column: id